@keyframes rainbow {

    0% {
        color : green;
        transform: scale(1);
        text-shadow: var(--text-shadow-primary) red;       
    }

    25% {
       color : red;
       transform: scale(1.5);
       text-shadow: var(--text-shadow-primary) gold;  
    }

    50% {
       color : orange;
       transform: scale(1);
       text-shadow: var(--text-shadow-primary) forestgreen;  
    }

    75% {
       color : blue;
       transform: scale(1.5);
       text-shadow: var(--text-shadow-primary) wheat;   
    }

    100% {
       color : skyblue;
       transform: scale(1);
       text-shadow: var(--text-shadow-primary) blueviolet;  
    }
}

@keyframes btn-animation {
    from {
        transform: scale(1);
        border: 1px solid rgb(0, 105, 128);
        border-radius: 1rem;
    }

    to {
        transform: scale(1.5) ;
        border: 2px solid rgb(0, 113, 128);
        box-shadow: var(--text-shadow-primary) rgb(59, 146, 78);
        border-radius: 2rem;
    }
}